<section class="cluster">
    <ul class="box">
        {% assign sorted = (site.projects | sort: 'date') | reverse %}
        {% for project in sorted %}
        <li class="box stack">
            <a href="{{ project.url }}">
                <h2>{{ project.title }}</h2>
                <img style="background-image: url('{{ project.cover_photo }}')" /> 
                <p>
                    {{ project.excerpt }}
                </p>
                <span>{{ project.categories | join: ', ' }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>