---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

<div class="about">

  <div class="image" style="background-image: url('/assets/img/dori_bitmap.png')"></div>

  <p>
    I'm Halldór Eldjárn and I make music, instruments and software. Constantly searching for new ways to approach art and creativity with technology. Dive in to my world of creative projects below.
  </p>

  <p>
    Listen to my music on <a href="https://halldor.bandcamp.com" target="_blank">Bandcamp</a> and <a href="https://open.spotify.com/artist/7Gn4KL4MW9wGmuVP7KJx77?si=F8PbnPriT_OWA4ysh90bIw" target="_blank">Spotify</a>.
  </p>

  <p>
    You can also buy my art online at my <a href="https://inorganic.design">inorganic.design shop</a>.
  </p>
</div>


  <h2>My latest projects</h2>

    {% include projects.html %}

    {% include mailing.html %}

</div>
